.header {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  height: 90px;
  background-image: url('../../public/header-background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uiContainer {
  margin-top: 16px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.backButton, .menuButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.progressBarContainer {
  margin-top: 10px;
  width: 70%; // Ширина прогрес-бару стає гнучкою
  background-color: white;
  height: 4px;
  border-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
}

.progressBar {
  border-radius: 2px;
  height: 100%;
  background: linear-gradient(270deg, #4AD6BB 0%, #38A58F 100%);
  transition: width 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .header {
    height: auto;
  }

  .uiContainer {
    align-items: center;
  }

  .progressPercentage {
    position: static;
    transform: none;
    margin: 10px 0;
  }

  .progressBarContainer {
    width: 100%;
  }
}
.disabledBackButton {
  cursor: default;
  opacity: 50%;
}
